<footer>
  <div class="video-background">
    <!-- The video container -->
    <div class="video-background__inner">
      <video class="video-background__video" src="assets/video/video_mi_tierra.mp4" autoplay loop muted>Mi video</video>
    </div>
    <!-- El contenido -->
    <div class="video-background__content " id="Contacto">
      <div id="contact">
        <h1>Contacto</h1>
        <p>¿Quieres contactarme? <br> Complete el siguiente formualrio y me
          pondré en contacto con usted lo antes posible</p>
        <br>
        <form action="https://formsubmit.co/gustavo.de.oliveira.rodriguez@gmail.com" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" placeholder="Ingrese su nombre aquí" id="name" required />
            <br>
            <label for="email">Email</label>
            <input required type="email" name="email" id="email" placeholder="Ingrese su email" required />
            <br>
            <label for="text">Asunto</label>
            <input type="text" id="texto" placeholder="Ingrese un asunto" required />
            <br>
            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="mensaje" placeholder="ingrese su mensaje" style="height: 100px;"
              required></textarea>
            <input type="submit" value="Enviar mensaje" class="boton formaBoton" />
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <p>Gustavo Emmanuel Rodriguez De Oliveira | Argentina Programa 2023</p>
    <p>El Soberbio, Misiones, Argentina</p>
  </div>
</footer>