<section class="container__experiencia" id="Experiencias">
    <div class="card" id="experiencias">
      <h2>Experiencias</h2>
      <div class="card">
        <p class="card-text">Prácticas de java</p>
        <img src="assets/Imagenes/experiencias/Final_Java.png" alt="" class="card-img-top">
        <div class="card-body">
          <button class="btn-primary">Repositorio</button>
        </div>
      </div>
      <div class="card">
        <p class="card-text">Prácticas de maquetado</p>
        <img src="assets/Imagenes/experiencias/modas.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <button class="btn-primary"><a href="https://github.com/Gustavo-Flecha/Trabajo_con_colegio">Repositorio</a></button><button class="btn-primary"><a href="https://gustavo-flecha.github.io/Trabajo_con_colegio/">Ver demo</a></button>
        </div>
      </div>
      <div class="card">
         <p class="card-text"> Desafíos con Alura Latam: Encriptador de texto</p>  
        <img src="assets/Imagenes/experiencias/encriptador.png" alt="" class="card-img-top">
        <div class="card-body">
         <button class="btn-primary"><a href="https://github.com/Gustavo-Flecha/Proyectos_con_Alura_latam"> Repositorio</a></button><button class="btn-primary"><a href="https://gustavo-flecha.github.io/Proyectos_con_Alura_latam/">Ver demo</a></button>
        </div>
      </div>
      <div class="card">
        <p class="card-text">Desafíos con Alura Latam: Juego del ahorcado</p>
        <img src="assets/Imagenes/experiencias/ahorcado.png" alt="" class="card-img-top">
        <div class="card-body">
          <button class="btn-primary "><a href="https://github.com/Gustavo-Flecha/Proyecto-_con_Alura_Ahorcado">Repositorio</a></button><button class="btn-primary"> <a href="https://gustavo-flecha.github.io/Proyecto-_con_Alura_Ahorcado/">Ver demo</a></button>
        </div>
      </div>
    </div>
  </section>