nav{
  position: static;
  float:right;
  cursor: pointer;
  
}
nav ul li:hover{
  color:#fff;
  text-shadow: 0px 0px 15px #fff;
  border-bottom: 1px solid white;
  
}
nav li{
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  color: #999;
  border-bottom: 1px solid #444;
}
header{
  background: linear-gradient(#444 25%, #baad4f);
  height: 400px;
  padding-top: 20px;
}
header h2,.Experiencias h2,.Lenguajes h2{
  font-size: 38px;
  font-style: italic;
  font-weight: 600;
  color: #333;
  padding: 10px;
  text-shadow: -1px -1px 0px #101010, 1px1px 0px #505050;

}
header h2:hover,.Experiencias h2:hover,.Lenguajes h2:hover{
color:#fff;
text-shadow: 0px 0px 15px #fff;
}
.escritorio{
  margin: 0px auto;
  width: 650px;
  height: 300px;
  opacity: 0.9;
  position: relative;
  top: -10px;
}
body{
  background: linear-gradient(#baad4f 20%,#444,#003e49,#000);
  padding-bottom: 30px;
}
.Experiencias img{
  margin-left: 10%;
  
}
.Lenguajes ul {
  margin: 0% 20% 0% 20%;
}
.Lenguajes p{
  margin-bottom: 25px;
}

  
.Lenguajes img{
  padding:5px 15px;
  width:200px;
  height:200px;
  border: dotted 3px green;
  border-radius:15px 15px;
}
.Lenguajes img:hover{
  box-shadow: 1px 1px 15px #fff, 1px 1px 15px rgb(5, 255, 255),1px 1px 15px rgb(2, 255, 171);;
  border: solid 3px rgb(3, 255, 116);
  }
.Lenguajes li{
  display:inline-block;
  margin-inline-start: 2%;
}
.Lenguajes p{
  text-align: center;
  font-size: large;
  color: rgb(91, 2, 235);
  font-weight:800;
}

