/* head */
.menu {
  display: none;
  justify-content: end;
  cursor: pointer;
}

.logoArg {
  width: 150px;
  margin-left: 5%;
  box-shadow: 1px 1px 2px 0px #fff;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1%;
}

nav a {
  text-decoration: none;
  color: #999;
}

.menu li:hover {
  color: #fff;
  text-shadow: 0px 0px 15px #fff;
  border-bottom: 1px solid white;
}

.menu li {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-bottom: 1px solid #444;
  font-size: 1.2em;
}

.titulo__bajoRelive {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  font-style: italic;
  color: #333;
  padding: 10px;
  text-shadow: -1px -1px 0px #101010, 1px 1px 0px #505050;
}

.container {
  margin: 0px auto;
  padding: 5px 5px 5px 5px;
  max-width: 940px;
}

.cotenedor__perfil p {
  font-weight: 700;
}

.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  box-shadow: 2px 2px 4px 3px rgb(37, 35, 35);
}

.perfil {
  font-family: 'Tangerine', serif;
  font-size: 36px;
  text-shadow: 4px 4px 4px rgb(10, 6, 6), 4px 4px 4px rgb(0, 0, 0);
  /* text-shadow: 4px 4px 4px rgb(0, 0, 0),  3px 6px 3px rgb(0, 0, 0); */
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 2%;
  position: relative;
  float: left;
  margin: 1% 1%;
}

.texto,
bienvenida {
  font-size: 1.25rem;
  font-family: var(--Raleway);
  color: var(---fuente-ceniza-claro);
  line-height: 1.8rem;
}

.cotenedor__perfil {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.redes img {
  height: 4vw;
  max-width: 8vw;
  margin: 10px 25px;
}

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.redes__container ul li a {
  display: block;
  padding: 0 10px;
  font-size: 0.8rem;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.9);
  transition: 0.2s;
}

.redes__container ul li:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.facebook:hover {
  background-color: #3b5999;
}

.email:hover {
  background-color: #e4405f;
}

.pinterest:hover {
  background-color: #bd081c;
}

.linkedin:hover {
  background-color: #0077b5;
}

.sobre__mi p {
  font-family: var(--Raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

/* Diseño resposive para contenedor y menú */
@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }

  .menu {
    display: flex;
  }
}