<section class="contenedor__hobbies">
    <h2>Hobbies</h2>
    <ul class="hobbies">
      <li>
        <img src="assets/Imagenes/hobbies/asados.jpg" alt="">
        <p>Hacer asados y Gallinadas</p>
      </li>
      <li>
        <img src="assets/Imagenes/hobbies/moto.jpg" alt="">
        <p>Andar de moto en lugares difíciles</p>
      </li>
      <li>
        <img src="assets/Imagenes/hobbies/canalYouTube.png" alt="">
        <p>Ver series, películas y <br> interactuar con mis suscriptores</p>
      </li>
    </ul>
  </section>

  
