<main>
    <!-- sección de Skills -->
    <section class="contenedor__lenguajes" id="Skillset">
      <h2>¡Lenguajes!</h2>
        <ul class="contenedor__lenguajes-img">
          <li><img src="assets/Imagenes/lenguajes/csharp.jpg " alt=""> <p>C-Sharp</p></li>
          <li><img src="assets/Imagenes/lenguajes/Html_5.svg " alt=""> <p>Html 5</p></li>
          <li><img src="assets/Imagenes/lenguajes/Css_3.svg " alt=""> <p>Css 3</p></li>
          <li><img src="assets/Imagenes/lenguajes/Java.svg" alt=""><p>Java</p> </li>
          <li><img src="assets/Imagenes/lenguajes/JavaAndroid.svg " alt=""><p>Java Android</p> </li>
          <li><img src="assets/Imagenes/lenguajes/JavaScript.png " alt=""> <p>JavaScript</p></li>
          <li><img src="assets/Imagenes/lenguajes/Sql.svg" alt=""> <p>Sql</p></li>
        </ul>
    </section>
  </main>
