<main>
    <!-- sección de Skills -->
    <section class="contenedor__lenguajes" id="Skillset">
      <h2>¡Lenguajes!</h2>
        <ul class="contenedor__lenguajes-img">
          <li>
            <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'assets/Imagenes/lenguajes/Html_5.svg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Html</p>
          </li>

          <li>
            <circle-progress
            [percent]="80"
            [radius]="80"
            [imageSrc]="'assets/Imagenes/lenguajes/Css_3.svg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Css 3</p>
          </li>

          <li>
            <circle-progress
            [percent]="60"
            [radius]="80"
            [imageSrc]="'assets/Imagenes/lenguajes/Java.svg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Java</p>
          </li>

          <li>
            <circle-progress
            [percent]="30"
            [radius]="80"
            [imageSrc]="'assets/Imagenes/lenguajes/JavaAndroid.svg '"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Java Android</p> 
          </li>

          <li>
            <circle-progress
            [percent]="30"
            [radius]="80"
            [imageSrc]="'assets/Imagenes/lenguajes/JavaScript.png '"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>JavaScript</p>
          </li>

          <li>
            <circle-progress
            [percent]="80"
            [radius]="75"
            [imageSrc]="'assets/Imagenes/lenguajes/Sql.svg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Sql</p>
          </li>

          <li>
            <circle-progress
            [percent]="20"
            [radius]="75"
            [imageSrc]="'assets/Imagenes/lenguajes/csharp.svg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Csharp</p>
          </li>

          <li>
            <circle-progress
            [percent]="85"
            [radius]="75"
            [imageSrc]="'assets/Imagenes/lenguajes/uml.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Uml</p>
          </li>

          <li>
            <circle-progress
            [percent]="20"
            [radius]="75"
            [imageSrc]="'assets/Imagenes/lenguajes/angular.svg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <p>Angular</p>        
          </li>

        </ul>
    </section>
  </main>
